@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* 
  font - Urbanist

primary-Txt-color - 03373D
gray-text-color- 606060

gray-whit-txt-color - DADADA
dark-txt-color - 1F1F1F

ylw color - CAEB66
circle-arrw-bg-color - 1F1F1F



faq-ans-color - E6F2F3
footer color - 0B0B0B
*/

@theme {
  --font-urbanist: "Urbanist", sans-serif;

  --color-primary: #eaeced;
  --color-secondary: #135426;
  --color-offWhite: #c4c4c4;
  /* --color-TextPrimary: #dceee2; */
  --color-darkSecondary: #04170a;
}
:root {
  font-family: var(--font-urbanist);

  color: var(--color-darkSecondary);
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  min-height: 100vh;
}
