@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-urbanist: "Urbanist", sans-serif;
  --container-2xl: 1500px;
  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1500px;

  /* Brand Colors */
  --color-primary: #caeb66;
  --color-bg: #eaeced;
  --color-footer-bg: #0b0b0b;

  /* Text Colors */
  --color-text-primary: #03373d;
  --color-dark: #1f1f1f;
  --color-gray: #606060;
  --color-light-gray: #dadada;

  /* UI Colors */
  --color-circle-arrow-bg: #caeb66;
  --color-faq-answer: #e6f2f3;
}

:root {
  font-family: var(--font-urbanist);

  color: var(--color-text-primary);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  min-height: 100vh;
}
